body {
    padding-left: 40%;
    width: 100%;
    height: 100%;
    line-height: 1.6;
    width: auto;
    overflow: hidden;
}

.box1 {
    margin: 5px;
    padding: 14px 28px;
    border: 1px solid #4CAF50;
    text-decoration-line: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
}